<div class="date">
  <p>12/08/20</p>
</div>
<div class="order">
  <header class="head">
    <div class="table">
        <h2>Cliente</h2>
        <input type="text" name="" id="">
    </div>
  </header>
    <div class="body-order">
        <div class="each-order">
            <div class="prod">
                <h3>Jugo de frutas</h3>
                <div class="detail">
                  <h4>S/.7</h4>
                  <h4 class="qty">x <span>2</span></h4>
                </div>
            </div>
            <div class="count">
                <i class="fas fa-plus-circle"></i>
                <i class="fas fa-minus-circle"></i>
            </div>
            <div class="price">
                <h2>s/. <span>14</span></h2>
            </div>
            <i class="fas fa-trash-alt"></i>
          </div>
    </div>
    <div class="bill">
        <!-- <div class="sub-total">
            <h3>Subtotal</h3>
            <h2>S/.14</h2>
        </div> -->
        <div class="total">
            <h3>Total</h3>
            <h2>S/.<span>14</span></h2>
        </div>
        <div class="buttons">
            <button class="order-action">Ordenar</button>
            <button class="delete">Eliminar</button>
        </div>
    </div>
</div>
