<div class="date">
  <p>12/08/20</p>
</div>
<div class="order">
  <header class="head">
    <div class="table">
        <h2>Cliente</h2>
        <input type="text" name="" id="">
    </div>
  </header>
    <div class="body-order">
        <div class="each-order" *ngFor="let product of products">
            <div class="prod">
                <h3>{{product.name}}</h3>
                <div class="detail">
                  <h4>s/. <span>{{product.price}}</span></h4>
                  <h4 class="qty">x <span>{{product.qty}}</span></h4>
                </div>
            </div>
            <div class="count">
                <i class="fas fa-plus-circle" (click)="plus(product.id)"></i>
                <i class="fas fa-minus-circle" (click)="minus(product.id)"></i>
            </div>
            <div class="price">
                <h2>s/. <span>{{product.price * product.qty}}</span></h2>
            </div>
            <i class="fas fa-trash-alt" (click)="trash(product.id)"></i>
          </div>
    </div>
    <div class="bill">
        <div class="total">
            <h3>Total</h3>
            <h2>S/.<span>{{total}}</span></h2>
        </div>
        <div class="buttons">
            <button class="order-action" (click)="sendOrder()">Ordenar</button>
            <button class="delete" (click)="cleanList()">Eliminar</button>
        </div>
    </div>
</div>
