<div>
    <section class="container-products">
        <div class="menu">
            <app-products-list class="products"></app-products-list>
        </div>
    </section>
    <aside>
        <div class="date">
            <p>12/08/20</p>
        </div>
        <div class="order">
            <header class="head">
                <div class="table">
                    <h2>Mesa</h2>
                    <input type="text" name="" id="">
                </div>
             </header>
                <div class="body-order">
                    <div class="each-order">
                        <img src="../../../../assets/images/trash.png" alt="">
                        <div>
                            <h3>Juego de frutas</h3>
                            <h4>S/.7</h4>
                        </div>
                        <div class="count">
                            <input type="number" min="1" step="1" id="">
                        </div>
                        <div class="price">
    <h2>S/.14</h2>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <div class="sub-total">
                        <h3>Subtotal</h3>
                        <h2>S/.14</h2>
                    </div>
                    <div class="total">
                        <h2>total S/.24</h2>
                    </div>
                   <div class="buttons">
                        <button class="order-action">Ordenar</button>
                        <button class="delete">Eliminar</button>
                   </div>
                </div>
           
        </div>
    </aside>
</div>