@import '../../../app.component.scss';

div {
    display: flex;

    section {
        width: 65%;
        height: 80vh;
        overflow-y: scroll;
        .menu {
          position: relative;
            .products {}
        }
    }

    aside {
        width: 33%;
        background: map-get($colors, 'less-contrast');
    }
}
