<div class="ctn-edit-user">
  <div class="img-container">
    <img src="assets/images/BQ.png" alt="">
  </div>
  <form class="form" action="">
    <div class="inputs">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Contraseña">
      <p>{{email}}</p>
      <p>{{password}}</p>
    </div>
    <div class="cancel-save">
      <button type='button' class="cancel" (click)="closeCallback()">Cancelar</button>
      <button type='button' class="save">Guardar</button>
    </div>
  </form>
</div>
