div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88%;
  height: 144px;
  div.img-container {
    width: 15%;
    img {
      width: 71%;
      border-radius: 50%;
      background: #f6f1ed;
      border: 1px solid #47382b;
    }
  }

  form {
    display: flex;
    flex-direction: row;
    width: 85%;
    div {
      flex-direction: column;
      align-items: flex-start;
      width: 30%;
      margin: 0 10px;
      label {
        font-size: 13px;
      }
      input {
        height: 30px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #47382b;
        margin: 5px;
        background: #f6f1ed;
      }
    }
    .add {
      width: 25%;
      margin: 0 10px;

      button {
        cursor: pointer;
        width: 90%;
        height: 46px;
        border-radius: 10px;
        background: #36af5a;
        border: none;
        color: #ffffff;
        img {
          height: 15px;
        }
      }
    }
  }
}
