<div>
  <div class="img-container">
    <img src="assets/images/icon-yellow/home.png" alt="">
  </div>
  <form action="">
    <div>
      <label for="names">Nombres</label>
      <input type="text" name="names">
      <label for="email">Correo</label>
      <input type="text" name="email">
    </div>
    <div>
      <label for="birthday">Cumpleaños</label>
      <input type="text" name="birthday">
      <label for="cellphone">Celular</label>
      <input type="text" name="cellphone">
    </div>
    <div class="add">
      <app-button-add></app-button-add>
      <!-- <button><img src="assets/images/icon-white/add.png" alt=""> AGREGAR MESERO</button> -->
    </div>
  </form>
</div>
