@import '../../app.component';

aside {
  @include flex(center, _);
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background: map-get($colors , 'primary');

  .logo {
    @include size(100%, _);
    @include flex(center, center);

    img {
      margin-top: 20px;
      width: 75%;
    }
  }

  .icons {
    margin-top: 5px;
    @include size(100%, _);
    @include flex(center, center);

    .each-icon {
      margin-top: 15px;
      @include size(70%, _);
      @include flex(center, center);
      border-radius: 10px;

      .active {
        background: map-get($colors , 'secundary');
        color:  map-get($colors , 'primary');
        border-radius: 10px;
        padding: 6%;
      }

      a {
        text-decoration: none;
        text-align: center;
        color: map-get($colors , 'secundary');
        cursor: pointer;

        i {
          font-size: 35px;
          margin: 10px 20px;
        }

        h2 {
          font-size: 13px;

          margin: 0 0 5px;
        }
      }
    }
  }
  .icon-logout{
    margin-top: 15px;
      @include size(70%, _);
      @include flex(center, center);
      border-radius: 10px;

      a {
        text-decoration: none;
        text-align: center;
        color: map-get($colors , 'secundary');
        cursor: pointer;

        i {
          font-size: 35px;
          margin: 10px 20px;
        }

        h2 {
          font-size: 13px;

          margin: 0 0 5px;
        }
      }
  }
}

@media only screen and (max-width: 768px) {
  aside {
    height: 100vh;
  }
}
