$color-primary: #FC9631;

aside {
    background: FontRegular;
    width: 12%;
    height: 100vh;
    .logo {
        img {
            width: 59%;
        }
    }
    div {
        background: $color-primary;

        .each-icon {
            a {text-decoration: none;}
            img {width: 60%;}
            h2 {font-size: 13px;}
            
        }
    }
}