div {

        
        width: 100%;
        height: 100%;
        /* z-index: -1; */
        /* display: flex; */
        .menu{
               /* display: flex; */
    // position: absolute;
        }
    .container-view {
        // position: fixed; 
        margin-top: -62%;
        app-estadistics {
            width: 100%;
            justify-content: center;
        }

        .container-lists {
            display: flex;
            justify-content: space-between;
            width: 86%;
            margin-left: 6%;
        }
    }

}
