@import '../../app.component';

header {
    @include size(88%, 105px);
    @include flex(center);
    color: map-get($colors, 'letter');
    position: absolute;
    top: 0;
    font-family: FonBold;
    justify-content: space-between;

    &-title {
        display: flex;
    }

    h1 {
      margin-left: 25px;
    }
}
