@import '../../app.component';

header {
    @include size(88%, 13vh);
    @include flex(center,space-between);
    color: map-get($colors, 'letter');
    z-index: -2;
    position: absolute;
    top: 0;
    font-family: FonBold;

  &-title {
      display: flex;
  }

  h1 {
    margin-left: 25px;
  }
}

@media only screen and (max-width: 768px) {
header {
  div.header-title h1{
    font-size: 2.0rem;
  }
}
 }
