@import '../../app.component';

header {
    @include size(88%, 105px);
    @include flex(center,space-between);
    color: map-get($colors, 'letter');
    position: absolute;
    top: 0;
    font-family: FonBold;
    // justify-content: space-between;

  &-title {
      display: flex;
  }

  h1 {
    margin-left: 25px;
  }
}

@media only screen and (min-width: 768px) {
header {
  div.header-title h1{
    font-size: 2.0rem;
  }
}
 }
