<div class="div-estadistics">
    <div class="card-estadistics">
        <div>
            <h2>Ganancias de hoy</h2>
        </div>
        <div class="card-estadistics-item">
            <h1>S/.1000</h1>
        </div>
    </div>
    <div class="card-estadistics">
        <div>
            <h2>Ganancias de ayer</h2>
        </div>
        <div class="card-estadistics-item">
            <h1>S/.3500</h1>
        </div>
    </div>
    <div class="card-estadistics-graphic">
      <div>
            <h2>Ganancias de los ultimos 3 meses</h2>
      </div>
        <div>
           <img src="../../assets/images/graphic.png" alt="">
        </div>
    </div>
</div>

<!-- <div>
    <p>estadistics works!</p>
    <p>The date is {{today | date:'fullDate'}}</p>
</div> -->