@import '../../app.component';

.div-estadistics {
    @include size(100%, 145px);
    @include flex(center);
    justify-content: center;

    .card-estadistics {
        @include flex(center);
        @include size(245px, 124px);
        background: rgba(196, 196, 196, 0.26);
        border-radius: 9px;
        margin-right: 2%;
        padding: 1%;

        h2 {
            font-size: 1.3em;
        }

        &-item {
            @include flex(center);
            width: 135px;
            height: 102px;
            border-radius:50% ;
            background: map-get($colors, 'primary');
            justify-content: center;

            h1 {
                font: {
                    family: FontLight;
                    size: 1.1em;
                }

                color: map-get($colors, 'secundary')
            }

        }

        &-graphic {
            @extend .card-estadistics;
            @include size(350px, 124px);
            justify-content: center;

            img {
                width: 176px;
            }
        }
    }
}
