.container-order-list {
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  .order-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    background: #ffffff;
    margin: 10px;
    border-radius: 5px;
    div.users {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      div.client-date {
        display: flex;
        flex-direction: column;
        margin: 0 5px;
        .client {
        font-size: 20px;
        color: #000000;
        line-height: 20px;
        margin-top: 5px;
        }
        .date {
          font-size: 16px;
          color: #6c6c6c;
          line-height: 10px;
        }
      }
      span {
        font-size: 18px;
        margin: 0 10px;
      }
    }
    div.products {
      display: flex;
      justify-content: space-between;
      margin: 0 10px 5px;
      color: #000000;
      span.name {
        width: 45%;
        line-height: 12px;
      }
    }
    button {
      width: 70%;
      color: #ffffff;
      border: none;
      border-radius: 8px;
      margin: 0 5px 10px;
      align-self: center;
      cursor: pointer;
    }
    button.move {
      background: #d2eaf8;
      color: #47382b;
    }
    button.cancel {
      background: #e35151;
      img {
        width: 15px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .container-order-list {
    height: 75vh;
    .order-card {
      button {
        width: 83%;
        border-radius: 5px;
      }
    }
  }
}
