<div class="container-order-list">
  <ng-container>
    <div class="order-card" *ngFor="let order of orders | filterOrderStatus: statusOrder; index as i">
      <div class="users">
        <div class="client-date">
          <span class="client">{{order.client}}</span>
          <span class="date"><i class="far fa-clock"></i>15:22</span>
        </div>
        <span>{{order.userId}}</span>
      </div>
      <div class="products" *ngFor="let product of order.products">
        <span class="name">{{product.product.name}}</span>
        <span class="qty">{{product.qty}}</span>
        <span class="price">{{product.product.price}}</span>
      </div>
      <button class="move" *ngIf="statusOrder==='pending' || statusOrder==='delivering'" (click)="changeStatus(order)"><i class="fas fa-angle-double-right"></i> Mover pedido</button>
      <!-- <button class="cancel"><img src="assets/images/delete.png" alt=""> Cancelar pedido</button> -->
    </div>
  </ng-container>


</div>
