div.search {
  display: flex;
  width: 100%;
  background: #c1aa98;
  justify-content: space-around;
  align-items: center;
  height: 82px;
  border-radius: 10px;

  p.waiter-title{
    font-size: 36px;
    color: #ffffff;
  }

  div {
    width: 50%;
    display: flex;
    margin-top: 15px;

    label {
      color: #47382b;
      font-size: 18px;
      margin: 5px;
    }

    input {
      height: 31px;
      border-radius: 10px;
      width: 85%;
      border: none;
    }
  }

   p.total {
    color: #47382b;
    font-size: 24px;
   }
}

