<div  [ngClass]="customClass || ''" class="modal" [ngStyle]="{display: show ? 'block' : 'none'}">
  <div class="overlay" (click)="closeCallback()"></div>
  <div class="modal_content">
  <div class="ctn-edit-user" >
      <div class="img-container">
        <img src="assets/images/BQ.png" alt="">
      </div>
      <h2>Editar Usuario</h2>
      <form class="form" [formGroup]="form" (ngSubmit)="onGuardar()">
          <input type="text" placeholder="email"name="email" formControlName="email">
          <input type="text" placeholder="constraseña" #passw formControlName="constraseña">
        <div class="cancel-save">
          <button type='button' class="cancel" (click)="passw.value=''" (click)="closeCallback()">Cancelar</button>
          <button type='submit' class="save" (click)="closeCallback()">Guardar</button>
        </div>
      </form>
  </div>
    

  </div>
  
</div>
