<h2>Agregar Usuario</h2>

<form [formGroup]="addForm" (ngSubmit)="add($event)">
    <input 
    type="email" 
    placeholder="Email" formControlName="email">
    <div [ngClass]="invalid? 'valid':'invalid'"
    *ngIf="getEmail().errors && getEmail().touched" >
    
<p *ngIf="getEmail().hasError('email')">No es un email valido</p>
    </div>
    <input type="password" placeholder="Contraseña" formControlName="password">
    <div [ngClass]="invalid? 'valid':'invalid'"
    *ngIf="getPassword().errors && getPassword().touched">
        <p *ngIf="getPassword().hasError('required')">Contraseña requerida</p>
    </div>
    <button type="submit">Agregar</button>
    <button type="button" (click)="abort()">Cancelar</button>
</form>