<div class="container-order-status">
    <div class="order-status">
        <div class="order-pending">
            <div class="title">
                <i class="fas fa-hourglass-half"></i>
                <p>Pendiente</p>
            </div>
            <app-order-list [statusOrder]="statusPending"></app-order-list>
        </div>
        <div class="order-cooking">
            <div class="title">
                <i class="fas fa-mug-hot"></i>
                <p>Delivering</p>
            </div>
            <app-order-list [statusOrder]="statusDelivering"></app-order-list>
        </div>
        <div class="order-ready">
            <div class="title">
                <i class="far fa-check-circle"></i>
                <p>Delivered</p>
            </div>
            <app-order-list [statusOrder]="statusDelivered"></app-order-list>
        </div>
    </div>
</div>
