<div class="card" *ngFor="let details of data ">
  <div class="card-details">
    <div class="img-container">
      <img src={{details.photo}} alt="">
    </div>
    <div class="name-email">
      <p class="name">{{details.name}}</p>
      <p>{{details.email}}</p>
    </div>
    <div class="birth-cel">
      <p>{{details.dateBirth}}</p>
      <p>{{details.cellphone}}</p>
    </div>
    <div class="edit-delete">
      <button class="edit modal_opener" (click)="toggleModal()"><img src="assets/images/edit.png" alt=""> <a [routerLink]="['/waiters-list', details.id]">Editar</a></button>
      <button class="delete"><img src="assets/images/icon-white/delete.png" alt=""> Eliminar</button>
    </div>
  </div>
</div>

<div class="app">
  <app-modal
    [show]="showModal"
    [customClass]="'custom_modal_class'"
    [closeCallback]="toggleModal">
    <h2>Told Ya!</h2>
    <iframe title="giphy" src="https://giphy.com/embed/l52CGyJ4LZPa0" width="480" height="273" frameBorder="0" className="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/sandler-sentences-sounding-l52CGyJ4LZPa0">via GIPHY</a></p>
  </app-modal>
</div>
