div.card {
  width: 30%;
  height: 255px;
  display: flex;
  justify-content: center;
  background: #f6f1ed;
  border-radius: 10px;
  margin: 10px;
  div.card-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;

    div.img-container {
      width: 30%;
      border-radius: 50%;
      border: 1px solid #47382b;
      background: #f0f0f0;

      img {
        width: 90%;
        border-radius: 50%;
      }
    }

    div.name-email {
      color: #47382b;
      .name {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }

    div.change-state {
      width: 81%;
      margin: 10px 0;
      button {
        width: 45%;
        height: 39px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
      }
      button.out {
        background: #f0f0f0;
        border: 1px solid #c1aa98;
        color: #47382b;
      }
      button.in {
        background: #36af5a;
        border: 1px solid #c1aa98;
        color: #ffffff;
      }
    }

    div.birth-cel {
      color: #47382b;
      display: flex;
       p {
         margin: 0 10px;
       }
    }

    div.edit-delete {
      margin: 10px;
      width: 100%;

      button {
        height: 20px;
        cursor: pointer;
        width: 40%;
        margin: 0 10px;
        border-radius: 9px;
        border: none;
        img {
            height: 12px;
        }
      }

      button.edit {
        background: #d2eaf8;
        color: #47382b;
      }
      button.delete {
        background: #e35151;
        color: #ffffff;
      }
    }
  }
}
