<div class="card" *ngFor="let details of data ">
  <div class="card-details">
    <div class="img-container">
      <img src={{details.photo}} alt="">
    </div>
    <div class="name-email">
      <p class="name">{{details.name}}</p>
      <p>{{details.email}}</p>
    </div>
    <div class="birth-cel">
      <p>{{details.dateBirth}}</p>
      <p>{{details.cellphone}}</p>
    </div>
    <div class="edit-delete">
    <button class="edit"><img src="assets/images/edit.png" alt=""> <a [routerLink]="['/waiters-list', details.nombres]">Editar</a></button>
      <button class="delete"><img src="assets/images/icon-white/delete.png" alt=""> Eliminar</button>
    </div>
  </div>
</div>
