<div class="card" (click)='cambiar()'*ngFor="let details of data ">
  <div class="card-details">
    <div class="img-container">
      <img src={{details.photo}} alt="">
    </div>
    <div class="name-email">
      <p class="name">{{details.name}}</p>
      <p>{{details.email}}</p>
    </div>
    <div class="birth-cel">
      <p>{{details.dateBirth}}</p>
      <p>{{details.cellphone}}</p>
    </div>
    <div class="edit-delete">
      <button (click)="addEmployed()" class="edit"><img src="assets/images/edit.png" alt=""> Editar</button>
      <button (click)="lessEmployed()"  class="delete"><img src="assets/images/icon-white/delete.png" alt=""> Eliminar</button>
    </div>
  </div>
</div>
