@import '../../../app.component.scss';

section {
    display: flex;
    justify-content: center;

    .container-card {
        width: 60%;
        @include flex(center, center);

        .all-cards {
            overflow-y: scroll;
            flex-wrap: wrap;
            @include size(_, 90%);
            @include flex(center, center);

            .container-cards {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}

.container-add {
    width: 30%;
    text-align: center;
    background: #C1AA98;

    .container-form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .error {
            color: map-get($colors, 'error');
            font-size: 1em;
        }

        h3 {
            font-size: 2em;
            margin: 2%;
        }

        .input_text {
            display: flex;
            text-align: left;
            flex-direction: column;
            font-size: 1.2rem;
            padding: 7%;

            h4 {
                font-size: 1.2em;
            }


            input[type=text] {

                border-radius: 8px;
                @include size(85%, _);
                margin: 1%;
                padding: 1%;
                border: 1px solid map-get($colors, 'letter');
            }


            input[type=file] {
                top: 0px;
                bottom: 0px;
                @include size(100%, 100);
            }

        }

        button {
            align-self: center;
        }

        .add-product {
            @include button(200px, 'add');
            margin-top: 3%;
        }

        .cancel-product {
            @extend .add-product;
            background: map-get($colors, 'error');
        }
    }

}