<!-- <app-vertical-menu></app-vertical-menu> -->
<section>
    <div class="container-card">
        <div class="all-cards" >

            <div class="card-product" *ngFor="let item of products">
                <div class="card-img">
                    <img src={{item.img}} alt="">
                </div>
                <div class="card-text">
                    <h3>{{item.nombre}}</h3>
                    <h4>{{item.precio}}</h4>
                </div>
            </div>
        </div>

    </div>
    <div class="container-add">
        <div class="container-form">
            <input type="text">
            <input type="text">
            <input type="file" name="" id="">
            <button>Agregar Producto</button>
        </div>
    </div>
</section>