<!-- <app-vertical-menu></app-vertical-menu> -->
<section>
    <div class="container-card">
        <app-products-list class="container-cards"  (editar)=" editProduct($event)"></app-products-list>
    </div>
    <div class="container-add">
        <div class="container-form" [style.background]="editProp==true? '#FC9631':'#C1AA98'">
            <form action="" [formGroup]="form" (ngSubmit)="addProduct()">
                <div *ngIf="editProp==false">
                    <h3>Agregar Producto</h3>
                </div>
                <div *ngIf="editProp==true">
                    <h3>Editar Producto</h3>
                </div>
                <div class="input_text">
                    <input placeholder="Nombre del Producto" type="text" formControlName="name">
                    <div *ngIf="confirmation && form.controls.name.errors" class="error">
                        <p>Debe llenar el nombre</p>
                    </div>
                    <input placeholder="Precio en soles" type="number" formControlName="price">
                    <div *ngIf="confirmation && form.controls.price.errors" class="error">
                        <p>Debe llenar el precio</p>
                    </div>
                    <div class="div_file"><input type="file" formControlName="image"></div>
                    <select id="type" formControlName="type">
                        <option value="breakfast">Desayuno</option>
                        <option value="hamburguer">Hamburguesa</option>
                        <option value="accompaniment">Acompañamiento</option>
                        <option value="drink" selected>Para tomar</option>
                    </select>
                    <div *ngIf="confirmation && form.controls.type.errors" class="error">
                        <p>Debe llenar el tipo</p>
                    </div>
                    <input type="date" formControlName="dateEntry">
                    <div *ngIf="confirmation && form.controls.dateEntry.errors" class="error">
                        <p>Debe llenar la fecha</p>
                    </div>
                </div>

                <div class="buttons" *ngIf="editProp==false,else viewBtnEdit">
                    <button class="add-product" type="submit" >Agregar Producto</button>
                    <button class="cancel-product" type="button" (click)="form.reset()"
                        (click)="confirmation=false">Limpiar</button>
                </div>
                <ng-template class="buttons" #viewBtnEdit>
                    <button class="add-product" type="button" (click)="saveEdition()" >Guardar edición</button>
                    <button class="cancel-product" type="button"
                    (click)="confirmation=false"
                    (click)="form.reset()" (click)="editProp=false">Cancelar</button>
                </ng-template>
            </form>
        </div>
    </div>
</section>
