div.container-chefs {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  div.ctn-form-commponent {
    width: 90%;
  }

  div.ctn-list-commponent {
    width: 95%;
    background: #c1aa98;
    height: 526px;
    border-radius: 10px;

    div.ctn-cards {
      overflow-y: scroll;
      height: 26em;
      width: 99%;
      .component {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

}
