
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<!-- <nav>
  <ul>
    <li><a routerLink="/first-component" routerLinkActive="active">First Component</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active">Second Component</a></li>
  </ul>
</nav> -->
<app-header></app-header>
<!-- <app-view-home></app-view-home> -->
<!-- The routed views render in the <router-outlet>-->
<div class="view-router">
  <router-outlet></router-outlet>
</div>

