$colors: (
  primary: #FC9631,
  secundary: #FFF,
  letter: #47382B,
  add:#00A355,
  error: #e35151,
  less-contrast:#F6F1ED,
  soft:#C1AA98,
);


@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin flex($align-items, $justify-content) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
  }
  
@mixin circle($width, $color) {
  border-radius: 50%;
  @include size($width, $width);
  background: $color;
}

@mixin button ($width,$color){
  @include size($width, 41px);
  background: map-get($colors, $color);
  border: none;
  color: map-get($colors, 'secundary');
  border-radius: 9px;
  margin: 0 10px;
  font-size: 17px;
  font-weight: 600;

}

html {
  height: 100%;
}

body {
  background-position: top;
  margin: 0;
}

div.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  div.left-side {
    width: 12%;
  }

  div.right-side {
    width: 88%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}