<div class="card-product" *ngFor="let item of products">
    <div class="card-img">
        <img src={{item.img}} alt="">
    </div>
    <div class="card-text">
        <h3>{{item.nombre}}</h3>
        <h4>{{item.precio}}</h4>
    </div> 
    
    <div class="btn-options">
        <button class="edit" (click)=" addProduct()"><img src="assets/images/edit.png" alt="">
            <a [routerLink]="">Editar</a>
        </button>
        <button class="delete" (click)="deleteProduct(item)"><img src="assets/images/delete.png" alt="">
            Eliminar
        </button>
    </div>
</div>