@import '../../app.component.scss';

@mixin space-vertical(){
    margin: {
        top: 1.5%;
        bottom: 1.5%
    }
}
.selected{
    background: map-get($colors, 'letter') !important;

}
.no-selected{
background:  map-get($colors, 'primary');
}
.row {
    width: 100%;
    padding: 1%;
    margin: 0;
    @include flex(center,center);
    .buttons {
        display: block;
        width: 100%;

        button {
            margin-left: 0.5%;
        }

        .container-menu-main {
            display: flex;

            .menu-main {
                @include button(48%, _);
            }
        }

        div {
            display: flex;
@include space-vertical();
            .menu-child {

                @include button(32%, _);
            }
        }

    }

    .panel-cards {
        @include size (100%,80vh);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card-product {
            @include button(29.2%, 'letter');
            @include size (_, 49%);
            border: 1px solid map-get($colors, 'letter');
            flex-direction: column;
            @include space-vertical();
            @include flex(center, center);
            position: relative;
            i {
              align-self: flex-end;
              width: 83px;
              position: absolute;
              right: -47px;
              top: 5px;
              font-size: 30px;
            }
            .card-img {
                background: white;
                box-sizing: border-box;
                border-radius: 9px;
                width: 90%;
                height: 39%;
                margin: 2%;
                display: flex;

                img {
                    margin: auto;
                    width: 70%;
                }
            }

            .card-text {
                text-align: center;
                line-height: 22px;
                color: white;
                height: 30%;

                h3 {
                    font-size: 1em;
                    margin: 5px;
                }
            }

            .btn-options {
                height: 26%;
                align-content: center;

                .edit {

                    @include button(80%, _);
                    height: 41%;
                    background-color: #d2eaf8;

                    img {
                        width: 12px;
                        margin-right: 5px;
                    }
                }

                .delete {
                    @extend .edit;
                    background: map-get($colors, 'error');

                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
  .panel-cards {
    .card-product {
      width: 42% !important;
      height: 32% !important;
    }
  }
}
