<div class="card-product" *ngFor="let item of products">
    <div class="card-img">
        <img src={{item.image}} alt="">
    </div>
    <div class="card-text">
        <h3>{{item.name}}</h3>
        <h4>S/. {{item.price}}</h4>
    </div> 
    <div class="btn-options">
        <button class="edit" (click)="toggleModal()" (click)="editProduct(item)" (click)="editProp=true">
            <img src="assets/images/edit.png" alt="">Editar
        </button>
           
        <button class="delete" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
            placement="left"(confirm)="lessProduct(item)" (cancel)="cancelClicked = true"
            popoverClass="popup"> Eliminar
        </button>
    </div>
</div>