
<section class="container-login">
  <article class="container-login-form">
      <h2>Iniciar Sesión</h2>
          <form [formGroup]="form">

                      <label for="email">Email</label>
                  <div class="container-login-form-input">
                      <input formControlName="email" type="email" class="form-control" required>
                  </div>


                      <label for="password">Password</label>
                       <div class="container-login-form-input">
                      <input formControlName="password" type="password" class="form-control" required>
                  </div>

              <div class="validations">
                  <div *ngIf="getEmail().errors && getEmail().touched">
                      <p *ngIf="getEmail().hasError('email')">
                          No es un email valido
                      </p>
                      <p *ngIf="getEmail().hasError('required')">
                        Email requerido
                    </p>
                  </div>
                  <div *ngIf="getPassword().errors && getPassword().touched">
                      <p *ngIf="getPassword().hasError('required')">
                          Contraseña requerida
                      </p>
                  </div>
                  <div *ngIf="errorMessage ">
                          <p >
                              {{errorMessage}}
                          </p>
                      </div>
              </div>
             <div class="button-confirm">
                  <button class="btn" type="submit" (click)="authUser()">Ingresar</button>
             </div>
          </form>
  </article>
  </section>
