
<form [formGroup]="form">
        <label for="email">Email</label>
        <input formControlName="email" type="email" class="form-control" required>
        
        <label for="password">Password</label>
        <input formControlName="password" type="password" class="form-control" required>

    <div class="validations">
        <div *ngIf="getEmail().errors && getEmail().touched">
            <p *ngIf="getEmail().hasError('email')">
                No es un email valido
            </p>
        </div>
        <div *ngIf="getPassword().errors && getPassword().touched">
            <p *ngIf="getPassword().hasError('required')">
                Contraseña requerida
            </p>
        </div>
    </div>
    <button class="btn" type="submit" (click)="authUser()">Login </button>
   
</form>