.main-container {
    height: 600px;
    div.container-cheff {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
      p {
        width: 90%;
        display: flex;
        align-items: center;
        font-size: 24px;
        color: #47382b;
        font-weight: 600;
        align-self: flex-start;
        margin-left: 25px;
      }
    }
}