<div class="table-staff">
  <!-- <form class="form" [formGroup]="form" (ngSubmit)="send($event)"> -->  
  <!-- <section>
    <div class="form" >
      <h2>Agregar Empleado</h2>
      <input class="" type="email" placeholder="Email" [formControl]="emailCtrl">
      <input type="password" placeholder="Contraseña" [formControl]="passwordCtrl">
      <button type="submit" (click)= "addUser()">
        <img src="assets/images/icon-white/add.png" alt="">
        Agregar</button>
    </div>
  </section> -->
  <!-- End </form>  -->
  <table class="table" *ngIf="errorMessage == 'default'; else errorView">
    <thead>
      <tr class="titles">
        <th class="num">N°</th>
        <th>Email</th>
        <th>Contraseña</th>
        <th>opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let details of users; index as i">
        <td>{{i+1}}</td>
        <td>{{details.email}}</td>
        <td>{{details.password}}</td>
        <td class="edit-delete">
          <button class="edit" (click)="toggleModal()" class="edit" id={{details.id}}>
            <img src="assets/images/edit.png" alt=""> <a [routerLink]="['/admin/staff', details.id]">Editar</a>
          </button>
          <button class="delete" class="delete">
            <!-- (click)="lessEmployed()"  -->
            <img src="assets/images/delete.png" alt="">
            Eliminar</button>
        </td>
        <div class="app">
          <app-modal
            [show]="showModal"
            [customClass]="'custom_modal_class'"
            [closeCallback]="toggleModal">
            <app-edit-user
            [closeCallback]="toggleModal"
            [email]="details.email"
            [password]="details.password">
          </app-edit-user>
          </app-modal>
        </div>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #errorView>
  <div class="squareError">
    <h3>{{errorMessage}}</h3>
    <button (click)="errorMessage = 'default'">Regresar</button>
  </div>
</ng-template>
