<div class="table-staff">
  <table class="table" *ngIf="errorMessage == 'default'; else errorView">
    <thead>
      <tr class="titles">
        <th class="num">N°</th>
        <th>Email</th>
        <th>opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let details of users; index as i">
        <td>{{i+1}}</td>
        <td #valor>{{details.email}}</td>
        <td class="edit-delete">
          <button class="edit" 
          (click)="toggleModal()" 
         (click)="onEditar(details)" >

            <img src="assets/images/edit.png" alt=""> <a>
          Editar</a>
          </button>
          <button class="delete" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
            placement="left" (confirm)="lessUser(details.id,valor)" (cancel)="cancelClicked = true"
            popoverClass="popup">
            <img src="assets/images/delete.png" alt="">
            Eliminar
          </button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
<div class="app">
  <app-modal [show]="showModal" [customClass]="'custom_modal_class'" [closeCallback]="toggleModal" [contacto]="contactoeditar" >
  </app-modal>
</div>
<ng-template #errorView>
  <div class="squareError">
    <h3>{{errorMessage}}</h3>
    <button (click)="errorMessage = 'default'">Regresar</button>
  </div>
</ng-template>