/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: FonBold;
    src: url(./assets/fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: FontLight;
    src: url(./assets/fonts/Quicksand-Light.ttf);
}

@font-face {
    font-family: FontMedium;
    src: url(./assets/fonts/Quicksand-Medium.ttf);
}

@font-face {
    font-family: FontRegular;
    src: url(./assets/fonts/Quicksand-Regular.ttf);
}


body {
    font-family: FontRegular;
    
}