@import '../../app.component';

div {
    @include size(247px, 100%);
    @include flex(center,center);
    // justify-content: center;
    font-family: FontLight;

    .container-img {
        @include size(40%, 105px);

        &-admin {
            @include circle(69px, map-get($colors, 'primary'));
        };

        &-icon {
            width: 60%;
        }
    }

    .div-admin-content {
        @include size(60%, 105px);
        @include flex(flex-start,_);
        flex-direction: column;
    }
}
